body {
    padding: 10px;
}
.container {
    /* background-color: rgb(193, 206, 206); */
    padding: 20px;
    border-radius: 10px;
}

.input-group-text {
    background-color: rgb(255, 255, 255);
    
}


.btn {
    width: fit-content;
    margin-bottom: 30px;
}

i {
    color: rgb(16, 16, 16);
    font-size: 30px;
}

form {
    background-color: rgb(233, 231, 231);
    border-radius: 8px;
}

fieldset {
    padding: 20px;
}

